/****************************************
    APP MAIN STYLES
****************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.main-navigation a {
  color: #303030;
}
.main-navigation a.active {
  color: #0182f9;
}
.main-navigation img {
  width: 60px;
}

footer {
  background-color: #303030;
}
footer nav {
  justify-content: space-between;
}
footer nav .active {
  color: #0182f9;
}
footer button {
  color: #fff;
  background: transparent;
  border: 2px solid #0182f9;
  text-transform: uppercase;
  padding: 1rem;
}