* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $back-color;
    color: $text-color;
    font-family: $main-font;
}

img {
    max-width: 100%;
    height: auto;
}